/* Basic reset and font */
body {
  font-family: Arial, sans-serif;
  background: #f7f9fc;
  margin: 0;
  padding: 0;
  background: url('/assets/space-wallpaper-stars-background.gif') no-repeat center center fixed;
  background-size: cover;
  animation: moveBackground 60s linear infinite;
}

/* Center the game container */
.container {
  max-width: 600px;
  margin: 60px auto;
  text-align: center;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  text-align: center;
  color: white;
  width: 400px;
}

/* Word display styling */
#word-display {
  font-size: 2rem;
  margin: 20px 0;
  /*color: #333;*/
  color: wheat;
}

/* Input styling */
#word-input {
  padding: 10px;
  font-size: 1.2rem;
  width: 80%;
  margin-bottom: 20px;
}

/* Stats styling */
.stats p {
  font-size: 1rem;
  margin: 10px;
}

/* Restart button */
#restart-btn {
  background: #007bff;
  color: white;
  padding: 10px 25px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
#restart-btn:hover {
  background: #0056b3;
}
